<section>
    <header>
        <h2>{{dirData.sectionTitle}}</h2>
    </header>
    <article>
        <h3>{{dirData.createTitle}}</h3>
        <form ng-submit="dirData.methods.create(inputValue, dirData.methods.clearForm); inputValue = {}" id="{{dirData.formID}}" ng-init="inputValue = {}">
            <input ng-if="dirData.showSizeControls" id="{{dirData.widthInput.id}}" type="{{dirData.widthInput.type}}" min=0 step=.01 placeholder="{{dirData.widthInput.placeholder}}" ng-model="inputValue.two" required />
            <input id="{{dirData.inputField.id}}" type="{{dirData.inputField.type}}" placeholder="{{dirData.inputField.placeholder}}" min=0 step=.01 ng-model="inputValue.one" required />
            <input type="submit" value="Create" /><input type="reset" value="Clear" ng-click="inputValue = {}" />
        </form>
        <p>{{inputValue.one}}</p>
        <p>{{inputValue.two}}</p>
    </article>
    <article>
        <h3>{{dirData.existingTitle}}</h3>
        <select ng-model='selectedOption' ng-options="entry.type for entry in dirData.listData">
                <option value=''>{{dirData.optionPlaceholder}}</option>
            </select>
        <p>Selected ID: {{selectedOption}}</p>
        <button ng-click="dirData.methods.delete(selectedOption.id)" ng-disabled="!selectedOption">Delete</button>
    </article>
</section>