<main>
    <header>
        <h1>{{myItem.name}}</h1>
    </header>
    <section>
        <article>
            <figure>
                <img src="{{myItem.uri}}" alt="{{myItem.name}}" style="width:300px">
                <figcaption>
                    <h3>Title: {{myItem.name}}</h3>
                    <summary>
                        <h4>{{myItem.description}}</h4>
                        <h4>Price: ${{myItem.price}} <span>USD</span></h4>
                        <h5>Testing: myItem ID {{myItem.id}}</h5>
                    </summary>
                </figcaption>
            </figure>
            <button ui-sref="browse">Go Back</button>
            <button>Add to Cart</button>
        </article>
    </section>
</main>